.Main{
  margin:auto; 
}

.playerDiv{
  margin:auto;
  width:60%;
}

.cockpit{
  margin: auto;
  margin-top: 5%;
}

.PlayersTitle{
  color: white;
}

.InputsContainer{
  display: fixed;

}
.inputScore{
  width: 150px ;
  height: 45px;
  cursor: pointer;
}