nav {

    width: 100%;
    margin: 0;
    top: 0;
    background: grey;
    color: white;
    box-shadow: 1px #212121;
    z-index: 1000;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: auto;
    padding: 0;
  }
  
  li {
    height: 100%;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    margin:auto;
  }
  
  li:hover {
    color: lightseagreen;
  }
  
  .fixedNav {
    position: fixed;
    display:block;
  }
  .logo{
      width:50px;
  }
  .logoLi{
    float:left;
    text-align: left;
    
}

.Btn{
    border:none;
    border-bottom: 1px solid white;
    border-top: 1px solid grey;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    width: 10em;
    margin: 0.2em;
    padding:16px;
    font: inherit;
    color: black;
    cursor: pointer;
   
}

.Btn:hover{
    
    color: lightseagreen;
}

.Btn:focus {
    outline:0;
  }