.coralBtn{
  border:none;
  width: 10em;
  position: relative;
  padding:16px;
  background-color: #555555;
  color:white;
  border-bottom: 1px solid #5cb087;
  border-top: 1px solid #5cb087;
  margin: 0.2em;
  cursor: pointer;
  font: inherit;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.coralBtn:hover{
    
    color: lightseagreen;
}

.coralBtn:focus {
    outline:0;
  }
.dashedInput{
    border:0.11em dashed #5cb087;
 
 }
 .textLooksLikeBtn{
    border:none;
    border-bottom: 1px solid #5cb087;
    border-top: 1px solid #5cb087;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #555555;
    font: inherit;
    color: white;
    width: 10em;
    margin: 0.2em;
    padding:16px;
    margin:auto;
    margin-top:20px;
 }
  
 .TextCenter{
     text-align: center
 }
 .playerIcon{
    width: 100px;
    animation: sizing 1s infinite alternate;
    -webkit-animation: sizing 1s infinite alternate;
}


@keyframes sizing{
    from {
      width: 100px
    }
    to {
      width: 110px;
    }
  }
@-webkit-keyframes bounce{
    from {
        width: 100px
      }
    to {
        width: 150px;
      }
}

.whiteP {
  color:white;
}

::-webkit-input-placeholder {
  text-align: center;
  color:white;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center; 
  color:white; 
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
  color:white;
}

:-ms-input-placeholder {  
  text-align: center; 
  color: white;
}

.how2{
  border-bottom: 2px solid #5cb087;
  width: 50%;
  margin: auto;
}