.addButton{
    border:none;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    margin: 0.2em;
    padding:16px;
    background-color: white;
    font: inherit;
    color: black;
    cursor: pointer;
   
}
.nameInput{
   border:0.11em dashed grey;

}
.addButton:hover{
    color: lightseagreen;
}
.addBtnDiv{
    margin-top:10px;
}