
.playerIcon{
    width: 80%;
}
.inputScore{
    width: 100px ;
    height: 45px;
}
.PlayerContainer{
    display: inline-block;
    border-bottom: 1px solid #5cb087;
    width: 700px;
    margin-top:10px;
}
.IconHolder{
    float: left;
    width:8em;
    height: 8em;
    display: inline-block;
    padding: 2%;
}
.nameHolder{
    text-align: center;
    display: inline-block;
    width: 7em;
}
.saveScoreBtn{
    width:100px;
    height: 50px;
    border:none;
    border-bottom: 1px solid #5cb087;
    border-top: 1px solid #5cb087;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: #555555;
    font: inherit;
    color: white;
    cursor: pointer;
    display: none;    
    margin-top:50%;
  }
  .saveScoreBtn:focus {
      outline:0;
    }
  .saveScoreBtn:hover{
    background-color: #555555;
    color: lightseagreen;
  }
  .Points{
    display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
      animation: changeColor 1s infinite alternate;
    -webkit-animation: changeColor 1s infinite alternate;
    width: 6em;
    margin-top: 8%;
    padding-left: 10%;
    float:left;
  }
  @keyframes changeColor{
    from {
      color:#555555;
    }
    to {
      color:#5cb087;
    }
  }
@-webkit-keyframes changeColor{
    from {
        color: #555555;
    }
    to {
        color: #5cb087;
    }
}

.scores{
  display: inline-block;
  margin-top:5%;
  float:left;
  text-align: left;
}
.centreDiv{
  margin:auto;
}
.test{
  display: inline-block;
}