
.logo{
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce{
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }
@-webkit-keyframes bounce{
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
}

.nav_button{
  border:none;
  width: 10em;
  position: relative;
  padding:16px;
  background-color: #555555;
  color:white;
  border-bottom: 1px solid #5cb087;
  border-top: 1px solid #5cb087;
  margin: 0.2em;
  cursor: pointer;
  font: inherit;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.nav_button:hover{
    background-color: #e3e6e5;
    color: #5cb087;
    border-bottom: 1px solid #5cb087;
    border-top: 1px solid #5cb087; 
}
.nav_button:focus {outline:0;}

