body {
  margin: auto;
  text-align: center;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Poiret One', cursive;
  font-weight: bold;
  color:white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./assets/background.png);
  animation: animatedBackground 60s linear infinite;
  letter-spacing: 0.9px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body input, textarea {

  background-color : grey; 
  border: none;
  border-bottom: 5px solid #5cb087;
  text-align: center;
  color:white;
  height: 3em;
  margin:1px
}

body input:focus {outline:0;}

@keyframes animatedBackground
{
  from {background-position: 0 0}
  to {background-position: -1000px 1000px;}
}